<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Basic 90</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/src/app/components/info/" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>EL TUBOTE</h1>
      <h2>La mejor del país</h2>
    </div>
 
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="images/demo/630x300.gif" alt="">
        <figcaption>
          <h2>Productos de Calidad  Garantía</h2>
          <p>La visión de la empresa es la de brindar los mejores productos a nivel mundial, es necesario brindar la mejor atención 
            hacia nuestros clientes, este sistema esta enfocado en brindar el mejor servicio para nuestros clientes.
          </p>
          <footer class="more"><a href="#">Read More &raquo;</a></footer>
        </figcaption>
      </figure>
    </section>
    <!-- main content -->
    <div id="intro">
      <section class="clear">
        <!-- article 1 -->
        <article class="two_quarter">
          <h2>Manejo del sitema</h2>
          <p>De encontrar algún inconveniente por favor contactarse con nuestro equipo de desarrollo</p>
          <p>El sistema cuenta con retroalimentación para proporcionar la mejor experiencia</p>
        </article>
        <!-- article 2 -->
        <article class="two_quarter lastbox">

        </article>
      </section>
    </div>
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <div id="homepage" class="last clear">
      <section class="one_quarter">
        <h2 class="title">Objetivo del sistema</h2>
        <article>
          <header>
            <h2>Comentarios y Sugerencias</h2>
            <address>
            <a href="https://www.facebook.com/victor.alonso.947">Victor</a>, encargado
            </address>
          </header>
          <p>Favor hacernos saber tus sugerencias</p>
        </article>
      </section>


    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">

</div>
</body>
</html>
