<body>

<div class="container">

 
          

                    <form class="col s12">
                        <div class="row">               
                          <div class="input-field col s6">
                            <input placeholder="123ABC" id="first_name" type="text" class="validate">
                            <label for="first_name">Código</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <input placeholder="Nombre del producto" id="first_name" type="text" class="validate">
                            <label for="first_name">Nombre</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <input placeholder="Marca del producto" id="first_name" type="text" class="validate">
                            <label for="first_name">Marca</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <input placeholder="Número de unidades del producto" id="first_name" type="text" class="validate">
                            <label for="first_name">Cantidad</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <input placeholder="Precio de compra en dólares" id="first_name" type="text" class="validate">
                            <label for="first_name">Precio de compra</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <input placeholder="Precio de venta de dólares" id="first_name" type="text" class="validate">
                            <label for="first_name">Precio de venta</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                              <a class="waves-effect waves-light btn-large">REGISTRAR</a>           
                          </div>
                        </div>
                      </form>



</div>
  
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Ferretería El Tubote</h5>
            <p class="grey-text text-lighten-4">Sistemas de administración de bodega</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Todos los derechos reservados
        </div>
      </div>
    </footer>

</body>