<body>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">INICIO</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="registrar"><i class="medium material-icons">add_box</i></a></li>
          <li><a routerLink="listar"><i class="large material-icons">view_list</i> </a></li>        
      </ul>
    </div>
  </nav>
<div>
  <router-outlet></router-outlet>
</div>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Ferretería El Tubote</h5>
        <p class="grey-text text-lighten-4">Sistemas de administración de bodega</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Todos los derechos reservados
    </div>
  </div>
</footer>

</body>