<body>
  <div class="container">
    <div class="row">


        
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title" style="text-align: center">LISTA DE PRODUCTOS</span>
                  
                  <div class="row">
                      <div class="col s12 m6">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title"></span>
                            
                            <table class="highlight">
                                <thead>
                                  <tr>
                                      <th>Código</th>
                                      <th>Nombre</th>
                                      <th>Maca</th>
                                      <th>Cantidad</th>
                                      <th>Precio Compra</th>
                                      <th>Precio Venta</th>
                                      <th>Actualizar</th>
                                  </tr>
                                </thead>
                        
                                <tbody>
                                  <tr>
                                    <td>Alvin</td>
                                    <td>Eclair</td>
                                    <td>$0.87</td>
                                    <td>$0.87</td>
                                    <td>$0.87</td>
                                    <td>$0.87</td>
                                    <td><a class="waves-effect waves-light btn">Actualizar</a></td>
                                  </tr>                                 
                                </tbody>
                              </table>
          
                          </div>
                        </div>
                      </div>
                    </div>



                </div>               
              </div>
            </div>
          




        








      
    </div>
  </div>


  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Ferretería El Tubote</h5>
            <p class="grey-text text-lighten-4">Sistemas de administración de bodega</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Todos los derechos reservados
        </div>
      </div>
    </footer>
</body>